<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607718829933-aslir0dvov7gb3e1ebmo7oa3sgsnm7fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607718829933-aslir0dvov7gb3e1ebmo7oa3sgsnm7fu</string>
	<key>API_KEY</key>
	<string>AIzaSyCKz9J2YtlOhHx5Rv29dyHvnLuIlx--PxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>607718829933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toantht.mynotes.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-with-unique-id</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-with-unique-id.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607718829933:ios:a312f930a62455345a3464</string>
</dict>
</plist>